# Logs
npm-debug.log*

# Coverage directories
coverage/

# Dependencies
node_modules/

# Optional npm cache directory
.npm/

# Webflow
.idea/

# Operating System
.DS_Store
Thumbs.db
/yarn-error.log
/.eslintrc.json.tpl
/src/*.d.ts
/src/*.js
/tests/temp.ts
